<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
            <header class="holder">
            <div class="container" style="margin-top:auto;">
                <div class="logo">
                    <img src="../public/images/Alchemy-lock-up.png" width={200} alt="Alchemy logotype" ></img>
                    <h3>You imagine it,we create it.</h3>
                </div>
            </div>
            </header>

=======
>>>>>>> d00ccb2993a9a9bf387a9032fa84583cdb9347f9
    {{{body}}}
  </body>
</html>
