<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
            <header class="holder">
            <div class="container">
                <div class="logo">
                    <img src="../images/Alchemy-lock-up.png" width={200} alt="Alchemy logotype" />
                    <h3>You imagine it,we create it.</h3>
                </div>
            </div>
            </header>

    {{{body}}}

     <footer class="holder">
        <div class="footer">
            <p> Tel: <span>(02) 9550 1321</span> - E-mail: <a target="_blank" href="mailto:info@alchemyco.com.au?Subject=Please%20contact%20me">info@alchemyco.com.au</a></p>
        </div>
    </footer>

  </body>
</html>
